body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-container {

    /* Draw a solid border make it 90s seagreen */
    border-style: solid;
    border-width: 10px;
    border-color: #00db96;
    /*Add space between the border and its inside elements. */
    padding: 10px;
    /* Color the background 90s yellow */
    background : #fdfb76;
    width: 75%;
    margin: auto;
}

div.align{
    text-align: center;
}

.secondary-container{

    margin: auto;
    width:50%;
    padding: 50px;
    border-bottom: 3px #e10086 solid;
    border-spacing: inherit;
}

div.align{
    text-align: center;
}

.secondary-container{

    margin: auto;
    width:50%;
    padding: 50px;
    border-bottom: 3px #e10086 solid;
    border-spacing: inherit;
}

#mainheader{
    position: relative;
    left:20px;
    top:5px;
    color: #e10086;
    opacity: .75;
    font-size: 60px;
}
