div{
    text-align: left;
    line-height: 1.45em;
    font-family: Merriweathe, sans-serif;
    margin-bottom: 10px;
    padding: 5px;
}
h1, h3, h5{
    text-align: center;
    font-family: FiraSans, sans-serif;
    color: #663333

}
.opening-paragraph::first-letter{
  font-size: 25px
}
.opening-paragraph{
    color: #cc9999;
    font-size: 20px;
    text-indent: 18px;
    font-weight:700;
}
.second-paragraph{
    color: #996666;
    font-size: 16px;
}
.third-paragraph{
    color: #996666;
    font-size: 16px;
}
#book_info{
    text-decoration: none;
    font-family: Merriweather, sans-serif;
}
#book_info:hover{
    font-family:  Merriweather, sans-serif;
    text-decoration: underline;
    font-weight: 700;
}

table{
    border: 5px solid #663333;
    font-family:  FiraSans, sans-serif;
    font-weight: 700;
    color: #660000
}

p{
    font-family:  Merriweather, sans-serif;
    color: #996666
}
